<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$tabTitle$</title>
    <link rel="icon" href="../../assets/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../assets/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../assets/images/android-chrome-512x512.png">
    <link rel="manifest" href="../../assets/images/site.webmanifest">
    <link rel="stylesheet" href="../../assets/css/login.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="../../assets/css/toast.css">
    <link rel="stylesheet" href="../../assets/css/landingpage.css">
    

  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">
          <img id="logo" src="../../assets/images/logo.png" alt="logo" />
        </a>
      </div>

      <input type="checkbox" id="checkbox" />
      <label for="checkbox" id="icon">
        <svg
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6H20M4 12H20M4 18H20"
          />
        </svg>
      </label>

    <ul>
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/api/chat">Chat</a></li>
      <li><a href="/api/cards">Cards</a></li>
      <li><a href="#" id="login-link">Login</a></li>
      <li><a href="#" id="signup-link">Signup</a></li>
    </ul>
    </nav>

    <main>